.edit_party {
    text-align: center;
}

.edit_party h2 {
    font-size: 2.2em;
}

.edit_party p {
    color: #aaa;
    margin-bottom: 2em;
}

.edit_party .title_preview {
    margin-bottom: .2em;
    color: #000;
    font-weight: bold;
}

.image_preview {
    max-width: 100%;
    margin-bottom: 1em;
}