.contacts {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contacts h2 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
  }
  
  .contacts p {
    color: #aaa;
    margin-bottom: 1em;
  }

  .contacts_header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    width: 80%;
    padding: 10px;
  }

  .contacts_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
    width: 80%;
    padding: 10px;
  }
  
  .contacts_row p {
    color: #000;
  }
  
  .contacts_row button,
  .contacts_row a {
    margin: 0 5px;
    height: 30px;
    width: 100px;
    font-size: 0.7em;
  }

.table_contacts {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
}

.table_contacts span {
    text-align: left;
}

.table_contacts p {
    text-align: left;
}

.contacts_btn {
    background-color: #1a8918;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    width: 120px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
  }

.contacts_btn-outline {
    background-color: transparent;
    border-radius: 0;
    color: #000;
    border: 1px solid #000;
    padding: 7px 30px;
  }

  .contacts_btn-danger:hover {
    background-color: #dc3545;
  }


@media (max-width: 767px) {
    .table_contacts {
        display: block;
        font-size: 12px;
    }

    .contacts_responsive {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .contacts_row a {
        margin: 0;
        width: 80px;
    }

    .contacts_btn-outline {
        padding: 0;
      }

    .contacts_row button,
    .contacts_row a {
    margin: 0;
    width: 82px;
  }

  .contacts_font-size {
    font-size: 12px;
  }

  .span_contacts-responsive {
    margin-right: 5px;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .table_contacts {
      display: block;
    }

    .contacts_responsive {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .span_contacts-responsive {
      margin-right: 25px;
    }

    .contacts_row button,
    .contacts_row a {
    margin: 0;
    width: 82px;
  }

  .contacts_btn-outline {
    padding: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1470px) {
    .table_contacts {
        grid-template-columns: 175px 175px 175px 175px;
    }

    .contacts_responsive {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .contacts_row button,
    .contacts_row a {
    margin: 0;
    width: 82px;
  }

  .contacts_btn-outline {
    padding: 0;
  }
};

@media (min-width: 1280px) and (max-width: 1470px) {

.contacts_row button,
  .contacts_row a {
  margin: 0;
  width: 82px;
}

.contacts_btn-outline {
  padding: 0;
}
};