.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .noparties {
    text-align: center;
  }
  
  .noparties p {
    margin-bottom: 1.5em;
  }
  
  .noparties a {
    padding: 10px 25px;
  }