.tasks {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tasks h2 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
  }
  
  .tasks p {
    color: #aaa;
    margin-bottom: 1em;
  }

  .tasks_header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    width: 80%;
    padding: 10px;
  }

  .tasks_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
    width: 80%;
    padding: 10px;
  }
  
  .tasks_row p {
    color: #000;
  }
  
  .tasks_row button,
  .tasks_row a {
    margin: 0 5px;
    height: 30px;
    width: 100px;
    font-size: 0.7em;
  }

.table_tasks {
    display: grid;
    grid-template-columns: 300px 300px;
}

.table_tasks span {
    text-align: left;
}

.table_tasks p {
    text-align: left;
}

.tasks_btn {
    background-color: #1a8918;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    width: 120px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
  }

.tasks_btn-outline {
    background-color: transparent;
    border-radius: 0;
    color: #000;
    border: 1px solid #000;
    padding: 7px 30px;
  }

  .tasks_btn-danger:hover {
    background-color: #dc3545;
  }


/* @media (max-width: 767px) {
    .table_tasks {
        grid-template-columns: 100px 100px;
        font-size: 12px;
    }

    .tasks_responsive {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .tasks_row a {
        margin: 0;
        width: 80px;
    }

    .tasks_btn-outline {
        padding: 0;
      }

    .tasks_row button,
    .tasks_row a {
    margin: 0;
    width: 82px;
  }

  .tasks_font-size {
    font-size: 12px;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .table_tasks {
        grid-template-columns: 100px 100px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .table_tasks {
        grid-template-columns: 200px 200px;
    }
}; */