.dashboard {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .dashboard h2 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
  }
  
  .dashboard p {
    color: #aaa;
    margin-bottom: 1em;
  }
  
  .noparties {
    text-align: center;
  }
  
  .noparties p {
    margin-bottom: 1.5em;
  }
  
  .noparties a {
    padding: 10px 25px;
  }
  
  .party_header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    width: 80%;
    padding: 10px;
  }
  
  .party_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
    width: 80%;
    padding: 10px;
  }
  
  .party_row p {
    color: #000;
  }
  
  .party_row button,
  .party_row a {
    margin: 0 5px;
    height: 30px;
    width: 100px;
    font-size: 0.7em;
  }

@media (max-width: 900px) {
  .dashboard_responsive {
    display: flex;
        flex-direction: column;
        gap: 10px;
  }

  .btn.btn-outline {
    padding: 0;
  } 

}  